@charset "UTF8";

@font-face {
    font-family: robotica;
    src: url('fontes/idroid.otf') format('opentype');
}

body {
    background-color: rgb(228, 243, 141);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-shadow: ;
    background-image: linear-gradient(to bottom, rgb(18, 119, 43), rgb(0, 49, 0));
    color: white;
    padding: 55px 0px 20px 0px;
}

header h1 {
    font-weight: bold;
    margin: 0;
    text-align: center;
}

header p {
    text-align: center;
    margin: 10px 0;
}

header nav ul {
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline; /* Alterando para exibição em linha */
    margin-right: 15px; /* Adicionando margem entre os itens da lista */
}

header nav ul li:last-child {
    margin-right: 0; /* Remove a margem do último item da lista */
}

header nav ul li a {
    color: rgb(54, 167, 82);
    font-weight: bold;
    text-decoration: none;
}

header nav ul li a:hover {
    padding: 10px;
    border-radius: 4px 4px 4px 4px;
    background-color: rgb(48, 133, 48);
    color: rgb(4, 59, 4);
}

header nav ul li:first-child {
    margin-left: 10px; /* Adicionando margem esquerda ao primeiro item da lista */
}

main {
    padding-top: 10px; /* Mantém o padding no topo */
    padding-bottom: 10px; /* Mantém o padding na parte inferior */
    padding-left: 10px; /* Reduz o padding no lado esquerdo */
    padding-right: 5px; /* Reduz o padding no lado direito */
    width: 80%; /* Ajusta a largura do contêiner principal */
    margin: auto;
    background-color: white;
    box-shadow: 9px 2px 16px 0px rgba(0, 0, 0, 0.349);
}

main h1 {
    text-indent: 20px;
    letter-spacing: normal;
    text-align: left;
    color: rgb(0, 77, 0);
    font-family: robotica, Arial, Sans-serif, serif;
}

h2 {
    background-image: linear-gradient(to right, rgba(86, 214, 107, 0.521),rgba(86, 214, 107, 0.521), white );
    color: green;
    font-family: robotica, Arial, sans-serif, serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-decoration: none;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main > p > a {
    background-color: rgba(86, 214, 107, 0.521);
    color: rgb(0, 49, 0);
    font-weight: bold;
    text-decoration: none;
}

main > .video {
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(12, 95, 40);
}

main > .final {
    margin-bottom: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(80, 148, 97);
    color: white;
    border-radius: 5px;
    padding-inline-start: 5px;
}

main > .final .box-final {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(149, 255, 197);
    color: black;
}